.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* Navigation */
.nav {
  background-color: black;
  padding-left: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav>ul>li {
  float: left;
}

.active {
  background-color: red;
}

.nav>ul>li>a {
  display: inline-block;
  padding: 8px;
  color: white;
  text-decoration: none;
  height: auto;
  width: 100px;
  font-weight: bold;
}
/* Navigation */


/* Content */
.container {
  padding: 0px 100px 10px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.colunm {

  padding: 0px 10px 0px 10px;
  height: auto;
  width: 600px;
  margin-top: 10px;
  text-decoration: none;
  position: relative;
}

.cardFilm {
  border: 1px solid black;
  box-shadow: 1px;
  height: auto;
  width: '100%';
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.filmImg{
  height: 500px;
  object-fit: fill;
  width: 100%;
  border-radius: 5px;
}

.cardFilm:hover .filmImg {
  transform: scale(1.1);
  transition: all 0.5s ease;
}


.title {
  color: #333;
  display: flex;
  font-weight: bold;
  bottom: 0px;
  color: white;
  text-decoration: none;
  position: absolute;
  width: 100%;
  background: linear-gradient(to bottom, transparent, black 99%);

}

.title>div {
  justify-content: start;
}

.title>div>p {
  width: auto;
  height: 10px;
  padding-right: 10px;
  text-align: end;
}

.title>h3 {
  display: flex;
  width: 90%;
  padding-top: 10px;
  padding-left: 10px;
}
/* FilmDetail*/
.detail-container{
  text-align: center;
  margin: 40px 40px 10px 40px;
}

.detailBackground{
  width: 80vw; 
  height: 80vh; 
  object-fit: cover;

  position: absolute;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  overflow: hidden;
  object-fit: cover;
  opacity: 0.99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content{
position: relative;
}


/* Footer */
.footer {
  background-color: black;
  color: white;
  padding: 5px 0 5px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}